.maxHeight{
    max-height: 16rem;
    object-fit: "cover"
}
.CardBox:hover,
.CardBox:active{
    color: red;
    cursor: pointer;
    transform: translateY(-3px);
    transition: 0.3s;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}